
    
h1 {
    color: red;
   
    } 
h2 {
        color: blue;
        
        } 
    .text {
            font-size: 14pt;
            font-style: italic;
    }
    .head {
            
        color: rosybrown;
    
    }
    .a {
            
        color: salmon;
    }
    .b {
            
        color: sienna;
    }
    
    .example {
            
            font-size: 14px;
            
    }

    

   

